@import 'main.css';


* {
-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}

.page-gallery {
background: #000;}
.page-gallery .site-header .bottom-bar {
display: none;}
.page-gallery .site-content {
color: #fff;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;padding-top: 60px;}
.page-gallery .module-magazine-subscription,
.page-gallery .site-footer {
display: none;}
.page-gallery .module-related-galleries {
background: #222;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;padding: 20px 0 15px 0;}
.page-gallery .module-related-galleries ul .gallery-carousel-item .options > .icon, .page-gallery .module-related-galleries ul .gallery-carousel-item .options a {
color: #fff;}
.page-gallery .module-related-galleries .jcarousel-control-prev,
.page-gallery .module-related-galleries .jcarousel-control-next {
color: #fff;}
.page-gallery .module-related-galleries .jcarousel-control-prev:hover,
.page-gallery .module-related-galleries .jcarousel-control-next:hover {
color: #bf1c23;}
.page-gallery .module-related-galleries .jcarousel-control-prev.inactive,
.page-gallery .module-related-galleries .jcarousel-control-next.inactive {
color: #747474;}
.page-gallery .module-related-galleries .jcarousel-control-prev.inactive:hover,
.page-gallery .module-related-galleries .jcarousel-control-next.inactive:hover {
color: #747474;}
.page-gallery .module-related-galleries .jcarousel-pagination a {
background: #4b4b4b;}
.no-touch .page-gallery .module-related-galleries .jcarousel-pagination a:hover {
background: #bf1c23;}
.page-gallery .module-related-galleries .jcarousel-pagination a.active {
background: #fff;}
.no-touch .page-gallery .module-related-galleries .jcarousel-pagination a.active:hover {
background: #fff;cursor: default;}


/* Ads
========================================================================== */

.ad-leaderboard {
text-align: center;height: 91px;margin: 0 auto 40px auto !important;}

#ifad300x250-right {
position: absolute;top: 400px;z-index: 9000;padding-bottom:20px;}

#ifadsponsor {
position: absolute;}

#ifad728x90-top .title, #ifadsponsor .title {
display: none;}

.ad .title {
text-transform: uppercase;color: #999999;font-size: 12px;padding-bottom: 5px;}


#interstitial {
background: url(http://img2-1.timeinc.net/instyle/static/i/bg_ad.gif) repeat right top;margin: 0 auto;height: 550px !important;display: inline-block;width: 100%;position: relative;top: -40px;}


#interstitial p {
color: #000;text-align: center;font-size: 12px;}

#interstitial iframe {
display: block;position: relative;margin: 0 auto;top: 80px;}

.slideshow-controls.ad-controls {
position: relative;top: -55px;}

#interstitial-controls {
margin-bottom: 0;}

.ad-170x30:empty {display: none;}

/* Additional Gallery adjustments
========================================================================== 
*/


.module-gallery-slideshow .gallery-col-wrapper {
height:800px;}

.slide-description-long a {font-weight:bold !important;}

.read-more-link {
display: none;}

.module-gallery-slideshow .slide-description-wrapper .slide-description-long {
overflow: hidden;display: block;}

.relGal {
margin-top: 0px;}


.read_more_height{height: 115px;}

.module-gallery-slideshow .gallery-tag {display: inline !important;}

.module-gallery-slideshow .finished-slides .slide-close {
display: block !important;}

.module-gallery-slideshow .sponsored .gallery-col-wrapper {
position: relative;top: 10px;}

.next-arrow-stitch {
width: 44px;height: 56px;color: #fff;position: relative;left: 112px;float: right;top: 71px;cursor: pointer;font-size: 40px;border-bottom: solid 1px #333;padding-top: 9px;z-index: 1;}

.next-arrow-stitch.slideshow-nav.btn-next:hover {
color: #bf1c23;}

.module-gallery-slideshow .finished-slides .slideshow-controls .btn-next {
display: none;}


.site-header .site-nav > ul > li > a .icon {
font-size: 8px;top: -4px;left: 2px;/* visibility: hidden;hide arrows for 2/6 launch */
}

.site-header .site-nav > ul > li.active > a:before {

position: absolute;top: 0;left: 0;width: 100%;content: "";background: #fff;color: #bf1c23;-webkit-box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.3);box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.3);clip: rect(0, 400px, 60px, -12px);height: 60px;overflow: hidden;z-index: 9001;}

.site-header.condensed .header-tools > li.search {
position: absolute;right: 72px;line-height: 44px;/* visibility: hidden;hide search for 2/6 launch */
}

.site-header.condensed .header-tools > li.more-menu {
display: block;/* display: none;*/
position: absolute;right: 10px;line-height: 44px;height: 40px;}

/* 
.site-header.condensed .site-nav {
margin-top: -30px;}
*/

.module-gallery-slideshow .gallery-header-up-next .more-galleries {
float: right;text-transform: uppercase;font-size: 14px;margin-top: 20px;display: none;/* hiding for 2/6 launch */
}

.site-header .site-nav > ul > li > a .icon {
font-size: 8px;top: -4px;left: 2px;/* visibility: hidden;hide arrows for 2/6 launch */
}

.tile .thumb {
margin: 0 0 10px 0;}

.module-related-galleries .tile .thumb {
width: 224px;height: 268px;text-align: center;/* center image*/
}

/* For small image cuts */
.tile .thumb.small img {
position: relative;top: 60px;}

.tile .thumb.small {
background-color: #000;}

.site-header .site-nav > ul > li > a {
display: block;height: 60px;line-height: 60px;color: #fff;font-size: 24px;text-transform: uppercase;padding: 0 20px;cursor: pointer;-webkit-transition: none;-moz-transition: none;-ms-transition: none;-o-transition: none;transition: none;}

.module-gallery-slideshow .finished-slides .slide-close {
display: none;}

.module-related-galleries {
background: #222;min-width: 1024px;padding: 20px 0 25px 0;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;}

.module-gallery-slideshow .gallery-title {
margin: -3px 0 20px !important;padding: 0;font-size: 40px;line-height: 38px;font-weight: 200;font-family: 'freight-sans-pro';}

.module-gallery-slideshow .slide-choices .readers-choice, .module-gallery-slideshow .slide-choices .editors-choice {
line-height: 0px;}

.module-gallery-slideshow.lookoftheday .slide-date {
margin-bottom: 0px;}

.module-gallery-slideshow.lookoftheday .slide-title {
font-size: 32px;}


/* Additional LOTD adjustments
========================================================================== 
*/

.lotd .slide-action-grid {
display: none !important;}

.lotd .module-gallery-slideshow .slide-actions {
border-bottom:none !important;}

.lotd #ifad300x250-right {
top: 450px;
}

.gallery-lotd-title-text a {
color: #fff;}

.lotd .site-header .site-nav {
margin-top:-30px;}

