.inline{display:inline-block;margin-right:10px}
.short-headers [class*='span']{min-width:32px}
.short-headers h1,.short-headers h2,.short-headers h3,.short-headers h4,.short-headers h5,.short-headers h6,.short-headers .lead{margin:2px 0}
.vertical-center{margin:0 auto;display:block}
.light{font-weight:100 !important}
.pad-bottom{padding-bottom:20px}
.full-height{height:100% !important}
.bootstrap-button-override .btn,.bootstrap-button-override .btn:hover,.bootstrap-button-override .btn:focus,.bootstrap-button-override .btn:active{-webkit-transition:background .5s,color .3s,text-shadow .3s;-moz-transition:background .5s,color .3s,text-shadow .3s;transition:background .5s,color .3s,text-shadow .3s}
.bootstrap-button-override .btn:hover,.bootstrap-button-override .btn:active{color:#333;text-shadow:rgba(255,255,255,0.749) 0 1px 1px}
.bootstrap-button-override .btn:hover,.bootstrap-button-override .btn:focus{outline:none}
.bootstrap-button-override .btn,.bootstrap-button-override .btn.btn-default{font-size:10px;text-shadow:none;color:#fff;background:#9b9b9b;-webkit-border-radius:15px;-moz-border-radius:15px;border-radius:15px;text-transform:uppercase;letter-spacing:2px;font-size:10px;border:0 solid #9b9b9b}
.bootstrap-button-override .btn:focus,.bootstrap-button-override .btn.btn-default:focus,.bootstrap-button-override .btn:hover,.bootstrap-button-override .btn.btn-default:hover,.bootstrap-button-override .btn:active,.bootstrap-button-override .btn.btn-default:active{background:#b9b9b9;color:#4d4d4d;}
.bootstrap-button-override .btn:focus>.caret,.bootstrap-button-override .btn.btn-default:focus>.caret,.bootstrap-button-override .btn:hover>.caret,.bootstrap-button-override .btn.btn-default:hover>.caret,.bootstrap-button-override .btn:active>.caret,.bootstrap-button-override .btn.btn-default:active>.caret{border-top-color:#4d4d4d !important}
.bootstrap-button-override .btn.dropdown-toggle > .caret,.bootstrap-button-override .btn.btn-default.dropdown-toggle > .caret{-webkit-transition:border-top-color .3s;-moz-transition:border-top-color .3s;transition:border-top-color .3s;border-top-color:#fff}
.bootstrap-button-override .btn i[class*='icon-'],.bootstrap-button-override .btn.btn-default i[class*='icon-']{margin:0;margin-top:-1px}
.bootstrap-button-override .btn.btn-large{font-size:15px;font-weight:200;height:40px;padding:10px;}
.bootstrap-button-override .btn.btn-large i[class*='icon-']{margin-top:2px;margin-left:3px}
.bootstrap-button-override .btn.btn-primary{background:#0093a7;}
.bootstrap-button-override .btn.btn-primary:hover,.bootstrap-button-override .btn.btn-primary:focus,.bootstrap-button-override .btn.btn-primary:active{background:#00aec5;color:#006674}
.bootstrap-button-override .btn.btn-success{background:#439fdd;}
.bootstrap-button-override .btn.btn-success:hover,.bootstrap-button-override .btn.btn-success:focus,.bootstrap-button-override .btn.btn-success:active{background:#7bbce7;}
.bootstrap-button-override .btn.btn-success:hover,.bootstrap-button-override .btn.btn-success:focus,.bootstrap-button-override .btn.btn-success:active,.bootstrap-button-override .btn.btn-success:hover i[class*='icon-'],.bootstrap-button-override .btn.btn-success:focus i[class*='icon-'],.bootstrap-button-override .btn.btn-success:active i[class*='icon-']{color:#2383c3}
.bootstrap-button-override .btn.btn-danger{background:#ec5424;}
.bootstrap-button-override .btn.btn-danger:hover,.bootstrap-button-override .btn.btn-danger:focus,.bootstrap-button-override .btn.btn-danger:active{background:#ff6f42;color:#a73e1c}
.bootstrap-button-override .btn-group>.btn{-webkit-border-radius:0;-moz-border-radius:0;border-radius:0;border-left:1px solid #fff}
.bootstrap-button-override .btn-group>.btn:first-child,.bootstrap-button-override .btn-group.solo>.btn{border-left:none;border-top-left-radius:100px;border-bottom-left-radius:100px}
.bootstrap-button-override .btn-group>.btn:last-child,.bootstrap-button-override .btn-group.solo>.btn{border-top-right-radius:100px;border-bottom-right-radius:100px}
.bootstrap-button-override .btn-group.open .btn.dropdown-toggle{background:#9b9b9b}
.bootstrap-button-override .bootstrap-select .dropdown-menu.open{max-height:152px !important}
.bootstrap-button-override .bootstrap-select .dropdown-menu.open>.dropdown-menu.inner{max-height:140px !important}
@media (max-width: 580px){.bootstrap-modal-override.modal,.bootstrap-modal-override.modal.fade.in{width:100%;top:0;margin:auto;height:300px;overflow:hidden;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;max-height:100%}
.bootstrap-modal-override.modal .modal-body,.bootstrap-modal-override.modal.fade.in .modal-body{overflow-y:scroll;overflow-x:hidden}
.bootstrap-modal-override.modal,.bootstrap-modal-override.modal.fade.in,.bootstrap-modal-override.modal .modal-footer,.bootstrap-modal-override.modal.fade.in .modal-footer{position:absolute;bottom:0;left:0;right:0}
}.alert-info{background:#24b48a;color:#fff;text-shadow:none;padding:0;position:relative;border:none;-webkit-border-radius:0;-moz-border-radius:0;border-radius:0}
[cart-items] .partner{margin-bottom:20px;}
[cart-items] .partner legend{margin-top:15px;margin-bottom:-5px}
[cart-items] .partner .alert-info div:nth-child(1){letter-spacing:1px;padding:5px 20px}
[cart-items] .partner .alert-info div:nth-child(2){margin:0 20px;padding:5px;background:rgba(255,255,255,0.3);cursor:pointer;}
[cart-items] .partner .alert-info div:nth-child(2) a{color:#fff}
[cart-items] .partner.compact .alert-info{padding-top:5px;padding-bottom:5px;margin-bottom:10px;text-align:center}
[cart-items] .partner.compact .item h5,[cart-items] .partner.compact .item .lead{margin:2px 5px 2px 0}
[cart-items] .partner.compact .item .product-detail.hidden-phone{display:none !important}
[cart-items] .partner.compact .item .product-detail.visible-phone{display:inherit !important}
[cart-items] .partner .item{position:relative;margin-bottom:5px;padding-left:5px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
[cart-items] .partner .item:before{content:'';width:100%;height:1px;margin:8px auto;background:#f7f7f7}
[cart-items] .partner .item .product-detail .title-row .icon-minus-alt{background:none;font-size:25px;width:25px;height:25px;color:#9b9b9b;}
[cart-items] .partner .item .product-detail .title-row .icon-minus-alt,[cart-items] .partner .item .product-detail .title-row .icon-minus-alt:hover{-webkit-transition:color .25s;-moz-transition:color .25s;transition:color .25s;cursor:pointer}
[cart-items] .partner .item .product-detail .title-row .icon-minus-alt:hover{color:#e84040}
[cart-items] .partner .item .product-detail .title-row [class*='span']:first-child{margin:10px 0;}
[cart-items] .partner .item .product-detail .title-row [class*='span']:first-child *{margin:0;}
[cart-items] .partner .item .product-detail .title-row [class*='span']:first-child *:first-child{margin-right:10px}
[cart-items] .partner .item .product-image .image-container{max-width:90px;border:2px solid #f5f5f5}
@media (min-width: 480px) and (max-width: 767px){[cart-items] .partner .item .product-detail,[cart-items] .partner .item .product-image{display:inline-block;margin-left:2.7624309392265194%}
}@media (min-width: 480px) and (max-width: 767px){[cart-items] .partner .item .product-detail{position:static}
}@media (min-width: 768px){[cart-items] .partner .item .product-detail{position:relative}
}[cart-items] .partner .item .product-detail .row-fluid,[cart-items] .partner .item .product-detail [class*='span']{min-height:0}
[cart-items] .partner .item .product-detail .icon-remove-3{cursor:pointer;position:absolute;top:0;right:30px;}
@media (min-width: 980px){[cart-items] .partner .item .product-detail .icon-remove-3{font-size:35px}
}@media (min-width: 600px) and (max-width: 979px){[cart-items] .partner .item .product-detail .icon-remove-3{font-size:27px}
}@media (max-width: 599px){[cart-items] .partner .item .product-detail .icon-remove-3{font-size:20px}
}[cart-items] .partner .item .product-detail h5,[cart-items] .partner .item .product-detail .lead{display:inline-block;font-size:14px !important;line-height:20px}
[cart-items] .partner .item .product-detail .quantity input{width:2em;margin:0}
[tooltip]>a:hover{text-decoration:none;cursor:pointer}
*{font-family:proxima-nova}
html{height:100%;width:100%;}
@media (max-width: 745px){html{overflow:auto}
}@media (min-width: 746px){html{overflow:hidden}
}html .container-fluid{max-height:980px;position:fixed;top:0;bottom:0;left:0;right:0;margin:auto;padding:20px 0;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
@media (max-width: 745px){html .container-fluid{padding:0;margin:0;overflow-y:scroll;overflow-x:hidden;max-height:none;height:100%}
}html .container-fluid .left,html .container-fluid .right-column{background:#fff;}
html .container-fluid .left .header,html .container-fluid .right-column .header{background:linear-gradient(#fff 90%,rgba(255,255,255,0) 100%);color:#181818;}
html .container-fluid .left .header .title-bar,html .container-fluid .right-column .header .title-bar{background:#181818;color:#fff;text-align:center;border:1px solid #fff;border-bottom:none;}
html .container-fluid .left .header .title-bar>*,html .container-fluid .right-column .header .title-bar>*{float:none}
html .container-fluid .left .header .title-bar h1,html .container-fluid .right-column .header .title-bar h1,html .container-fluid .left .header .title-bar h2,html .container-fluid .right-column .header .title-bar h2,html .container-fluid .left .header .title-bar h3,html .container-fluid .right-column .header .title-bar h3,html .container-fluid .left .header .title-bar h4,html .container-fluid .right-column .header .title-bar h4,html .container-fluid .left .header .title-bar h5,html .container-fluid .right-column .header .title-bar h5,html .container-fluid .left .header .title-bar h6,html .container-fluid .right-column .header .title-bar h6{font-weight:100;text-transform:uppercase;letter-spacing:2px;margin:5px 0}
@media (min-width: 846px){html .container-fluid .left .header .title-bar,html .container-fluid .right-column .header .title-bar{height:50px}
html .container-fluid .left .header .title-bar h1,html .container-fluid .right-column .header .title-bar h1,html .container-fluid .left .header .title-bar h2,html .container-fluid .right-column .header .title-bar h2,html .container-fluid .left .header .title-bar h3,html .container-fluid .right-column .header .title-bar h3,html .container-fluid .left .header .title-bar h4,html .container-fluid .right-column .header .title-bar h4,html .container-fluid .left .header .title-bar h5,html .container-fluid .right-column .header .title-bar h5,html .container-fluid .left .header .title-bar h6,html .container-fluid .right-column .header .title-bar h6{display:inline-block;margin-right:10px}
}@media (max-width: 845px){html .container-fluid .left .header .title-bar,html .container-fluid .right-column .header .title-bar{height:71px}
}html .container-fluid .left .header .title-bar span,html .container-fluid .right-column .header .title-bar span{font-size:15px}
html .container-fluid .left .header .steps,html .container-fluid .right-column .header .steps{padding:7px 0;}
html .container-fluid .left .header .steps .badge-info,html .container-fluid .right-column .header .steps .badge-info{background:#439fdd}
html .container-fluid .left .header .cost-details,html .container-fluid .right-column .header .cost-details{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;padding:20px}
html .container-fluid .confirm .scroll{background:#fff;}
html .container-fluid .confirm .scroll .order-number{padding:1px 20px}
html .container-fluid .confirm .scroll .user-info{padding:0 20px;}
@media (max-width: 745px){html .container-fluid .confirm .scroll .user-info [class*='span']{float:none;width:100%;margin-left:0}
}html .container-fluid .right-column .bootstrap-select .dropdown-menu.open{left:auto;right:0}
html .container-fluid .right-column .back-next{width:90%;}
html .container-fluid .right-column .back-next button{width:50%}
html .cart-items table{width:100%;}
html .cart-items table .partner{color:#000}
@media (max-width: 745px){body{overflow:scroll;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px}
.hold-out.left{margin-bottom:-20px}
.hold-out .back-next{position:fixed;bottom:0;padding:0 5%;}
.hold-out .back-next .btn-large{width:50%;display:inline-block;}
.hold-out .back-next .btn-large:first-child{border-bottom-left-radius:0}
.hold-out .back-next .btn-large:last-child{border-bottom-right-radius:0}
}@media (max-width: 767px){.product-detail{max-width:70%}
}.close-checkout{position:fixed;top:46px;right:40px}
.product-detail table{width:100%}
@media (min-width: 746px){.min-height-container{min-height:410px;overflow-y:scroll;}
.min-height-container .confirm{padding-left:20px;padding-right:20px}
.min-height-container .left{margin-left:5% !important;width:65% !important;height:100%;overflow-y:hidden;}
.min-height-container .left .scroll-header{z-index:100;position:relative}
.min-height-container .left .scroll{height:100%;overflow:scroll;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;z-index:0;position:relative;padding-bottom:20px;}
.min-height-container .left .scroll .pad-sides{padding-left:10px;padding-right:10px}
}@media (min-width: 1252px){.scroll-header{margin-bottom:-140px;height:115px}
.scroll-content{padding-top:140px}
}@media (min-width: 1001px) and (max-width: 1251px){.scroll-header{margin-bottom:-140px;height:148px}
.scroll-content{padding-top:140px}
}@media (min-width: 846px) and (max-width: 1000px){.scroll-header{margin-bottom:-200px;height:208px}
.scroll-content{padding-top:200px}
}@media (min-width: 746px) and (max-width: 845px){.scroll-header{margin-bottom:-238px;height:238px}
.scroll-content{padding-top:238px}
}.clear-large{clear:both}
.right-column{height:auto;}
@media (min-width: 746px){.right-column{margin-right:4%;width:23% !important}
}@media (min-width: 746px) and (max-width: 1000px){.right-column .cart-items-container{padding-bottom:528px}
.right-column .cost-details{height:493px;}
.right-column .cost-details.scroll-footer{margin-top:-520px}
.right-column .pad-bottom{height:40px;margin-top:-60px}
.right-column .product-image{text-align:center;}
.right-column .product-image>img{max-width:66%}
}@media (min-width: 1001px){.right-column .cart-items-container{padding-bottom:348px}
.right-column .cost-details{height:330px;}
.right-column .cost-details.scroll-footer{margin-top:-370px}
.right-column .pad-bottom{height:40px;margin-top:-60px}
}.right-column .summary{margin-bottom:65px;}
.right-column .summary.full-height{margin-bottom:0;padding-bottom:80px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
.right-column .summary.full-height .cart-items-container{margin-left:0;float:none;height:100%;overflow-x:hidden;min-height:122px !important;position:relative;}
.right-column .summary.full-height .cart-items-container .cart-items{height:100%;overflow-y:scroll;overflow-x:hidden}
.right-column .summary.full-height .cost-details{position:relative}
.summary>*:first-child{margin-top:0}
.summary [class*='span']{display:inline-block}
.summary .span6{width:48.93617021276595%}
.summary .span8{width:65.95744680851064%}
.summary .span4{width:31.914893617021278%}
@media (min-width: 1001px){.summary .text-left{text-align:left}
.summary .text-right{text-align:right}
}@media (min-width: 746px) and (max-width: 1000px){.summary .text-left{text-align:right;margin-bottom:0}
.summary .text-right{text-align:right;margin-top:0;margin-bottom:5px}
}@media (max-width: 745px){.summary [class*='span']{display:inline-block}
.summary .span6{width:48.93617021276595% !important}
.summary .span8{width:65.95744680851064% !important}
.summary .span4{width:31.914893617021278% !important}
}@media (min-width: 1001px) and (max-width: 1096px){.tax-shipping{font-size:16.4px;text-align:center}
}@media (max-width: 1000px){.tax-shipping{font-size:17.5;text-align:right}
}[name="rootForm"]{height:100%;}
@media (min-width: 746px){[name="rootForm"] .stack-rows-mobile>.row-fluid:nth-child(1),[name="rootForm"] .stack-rows-mobile,[name="rootForm"]{height:100%}
}.container-fluid{padding-left:0;padding-right:0}
@media (max-width: 745px){.stack-rows-mobile .left{float:none;width:100%}
}.stack-rows-mobile .steps h3{margin:5px 0}
@media (max-width: 1000px){.stack-rows-mobile .steps [class*='span'],.stack-rows-mobile .right-column [class*='span'],.stack-rows-mobile .steps[class*='span'],.stack-rows-mobile .right-column[class*='span']{display:block;width:100%;margin-left:0;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
}@media (min-width: 746px) and (max-width: 1000px){.stack-rows-mobile .steps [class*='span'].hold-out,.stack-rows-mobile .right-column [class*='span'].hold-out,.stack-rows-mobile .steps[class*='span'].hold-out,.stack-rows-mobile .right-column[class*='span'].hold-out{display:inline-block;vertical-align:top;}
.stack-rows-mobile .steps [class*='span'].hold-out.span3,.stack-rows-mobile .right-column [class*='span'].hold-out.span3,.stack-rows-mobile .steps[class*='span'].hold-out.span3,.stack-rows-mobile .right-column[class*='span'].hold-out.span3{width:23.404255319148934%;margin-left:2.127659574468085%}
.stack-rows-mobile .steps [class*='span'].hold-out.span9,.stack-rows-mobile .right-column [class*='span'].hold-out.span9,.stack-rows-mobile .steps[class*='span'].hold-out.span9,.stack-rows-mobile .right-column[class*='span'].hold-out.span9{width:74.30939226519337%}
}.required:before{content:'*';color:#f00;font-size:14px}
.optional:after{content:'(optional)';margin-left:10px;color:#808080;font-size:14px;font-style:italic;font-weight:normal}
input,select{margin-right:10px}
.summary .total .btn-success{margin-top:10px}
@media (min-width: 746px) and (max-width: 1075px){.summary>.row-fluid>*{display:block;width:100%;text-align:right}
}.steps .badge{-webkit-transition:background .5s;-moz-transition:background .5s;transition:background .5s}
@media (max-width: 1000px){.steps{margin:0 auto;width:270px}
.steps h3{text-align:left}
}.steps .badge{font-size:24px;line-height:31px;-webkit-border-radius:16px;-moz-border-radius:16px;border-radius:16px;padding:1px 10px;margin-right:5px}
.steps a{color:inherit;cursor:pointer;}
.steps a:hover{text-decoration:none}
.review em{text-transform:uppercase}
.credit-card-logos{margin-left:0 !important;}
.credit-card-logos img{-webkit-transition:opacity .5s;-moz-transition:opacity .5s;transition:opacity .5s;width:35px;margin:3px}
.faded-logo{opacity:.35}
.inline-headers h1,.inline-headers h2,.inline-headers h3,.inline-headers h4,.inline-headers h5,.inline-headers h6{display:inline-block;margin-right:10px}
.btn .icon-arrow-right-4{line-height:.8em;margin-left:.6em}
input[type="checkbox"].pull-left{margin-right:5px}
.span-auto{width:auto !important;margin-left:2.127659574468085%}
@media (max-width: 960px){[name='shippingForm'] [class*='span'],[name='billingForm'] [class*='span']{width:100%;margin-left:0}
}.norton{background:#fff;position:absolute;bottom:80px;right:-5%;-webkit-box-shadow:10px 10px 14px -2px rgba(0,0,0,0.5);-moz-box-shadow:10px 10px 14px -2px rgba(0,0,0,0.5);box-shadow:10px 10px 14px -2px rgba(0,0,0,0.5);-webkit-box-shadow:10px 10px 14px -2px rgba(0,0,0,0.5);-moz-box-shadow:10px 10px 14px -2px rgba(0,0,0,0.5);}
.norton a{display:block;width:131px;padding:10px 20px}
