@charset "utf-8";
/* CSS Document */






.accordions-flat {
  margin: 0 !important;
}

.accordions-flat ul.responsive-accordion{}


.accordions-flat ul.responsive-accordion li{}


.accordions-flat ul.responsive-accordion li .responsive-accordion-head {
  background: none repeat scroll 0 0 rgb(47, 182, 116);
  border-bottom: 1px solid rgb(54, 228, 143);
}



.accordions-flat ul.responsive-accordion li .responsive-accordion-panel{}





























