.topErrorBar {
    background: #990000;
    padding: 10px 0;
    text-align: center;
    color: white;
    z-index: 1;
    position: fixed;
    width: 100%;
    font-size: 16px;
    top: 50px;
}
.topSuccessBar {
    background: #009900;
    padding: 10px 0;
    text-align: center;
    color: white;
    z-index: 1;
    position: fixed;
    width: 100%;
    font-size: 16px;
    top: 50px;
}
.topErrorBar p, .topSuccessBar p {
    margin: 0;
}
label.error {
    margin-left: 10px;
    color: #990000;
}